# Sistem file macOS
.DS_Store

# Dependency
vendor/
node_modules/

.env

*.log
/storage/**/*.log
/public/**/*.log

# public
!public/
!public/**/*

public/**/*.log
!public/storage/
!public/storage/**/*

#storage
!storage/
!storage/**/*
